ipykernel
pydantic
fastapi
numpy
scikit-learn
scipy
pandas
python-dotenv
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-gemini
langchain_google_genai
defusedxml
pypdf
pymupdf
bs4
arxiv
wikipedia
unstructured
libmagic
xmltodict
langchain_huggingface
sentence-transformers
faiss_cpu
pinecone
langchain-pinecone
langgraph
pdfplumber
langchain_milvus
youtube_search
langgraph
langchain_chroma
langchain_experimental
torch 
torchvision
transformers
open_clip_torch
unstructured[all-docs]
pi_heif
unstructured_inference
pdf2image
pytesseract
poppler-utils
htmltabletomd
hf_xet
duckduckgo-search
yfinance
amadeus
geopy
google-maps-places
googlemaps